.btn {
	&:active, &:focus {
		outline: transparent;
	}
}

.btn-primary {
	border-bottom: 3px solid darken($key-lime, 5%);
  padding: 0.375rem 1.6rem;
	&:hover {

	}
}

.btn-secondary {
	color: $sky;
	&:hover {
		background-color: $sky;
		color: white;
	}
}
