.legend {
  margin-bottom: .5em;
}

.legend__color {
  border-radius: 10px;
  display: table-cell;
  margin-top: .2em;
  width: 9px;
  height: 15px;
}

.legend__text {
  display: table-cell;
  padding-left: .5em;
}
