.navbar {
  position: relative;
  padding: 0.4rem 0.6rem;
  @include clearfix;
}

.navbar-brand img {
  margin-right: 2em;
  width: 140px;
}

.nav-link {
  color: $gray-light;
  font-size: 1.2rem;
  line-height: 2;
}

.user-nav__email {
  color: $gray-lighter;
  font-size: 1rem;
  margin-top: .35rem;
}

.user-nav__controls a {
  cursor: pointer;
}
