.card__color {
  width: 100%;
  height: 100px;
}

.card__color--key-lime {
  background-color: $key-lime;
}

.card__color--sky-light {
  background-color: $sky-light;
}

.card__color--sky {
  background-color: $sky;
}

.card__color--sky-dark {
  background-color: $sky-dark;
}

.card__color--charred {
  background-color: $charred;
}
