h3 {
  color: $sky;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}

h4 {
  font-weight: 300;
}

.display-2 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  @include media-breakpoint-up(md) {
    font-size: 3rem;
  }
}
