<div class="row">
  <div class="col-md-9">
    <h1 class="u-push-top u-push-bottom">Campaigns</h1>
    <ul class="list-group">
      {{#each model as |c|}}
      <li class="list-group-item">
        {{c.name}}
        {{#link-to 'campaign.report' c}}Report{{/link-to}}
      </li>
      {{/each}}
    </ul>
  </div>
</div>
