<div class="row">
  <div class="col-md-9">
    <form>
      {{#bd-inline-error model=campaign property='name'}}
        <label for="name" class="control-label">Campaign Name</label>
        {{input placeholder=" " value=model.name class="form-control qa-campaign-name" name="name"}}
      {{/bd-inline-error}}
      <fieldset class="form-group">
        {{#unless model.vehicles}}
          <button class="btn btn-danger qa-delete" {{action 'delete' model}}>Delete</button>
        {{/unless}}
        <button class="btn btn-secondary qa-cancel" {{action 'cancel'}}>Cancel</button>
        <button class="btn btn-primary qa-save" {{action 'save' model}}>Save</button>
      </fieldset>
    </form>
  </div>
</div>
