<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form>
      <div class="card p-a-md">
        {{#bd-inline-error errors=model.errors.name}}
          <label for="name" class="control-label">Campaign Name</label>
          {{input placeholder=" " value=model.name class="form-control qa-campaign-name" name="name"}}
        {{/bd-inline-error}}

        <label class="control-label">Vehicles</label>

        <table class="table table-condensed qa-vehicle-table">
          {{#each model.vehicles as |vehicle|}}
            {{bd-vehicle-row vehicle=vehicle onSave="handleVehicleSaveSuccess"}}
          {{/each}}
        </table>
      </div>
      <fieldset class="form-group">
        <button class="btn btn-primary qa-save u-pull-right m-l" {{action 'save' model}}>Save</button>
        <button class="btn btn-secondary qa-cancel u-pull-right" {{action 'cancel'}}>Cancel</button>
      </fieldset>
    </form>
  </div>
</div>
