<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form>
      <div class="card p-a-md">
        {{#bd-inline-error errors=model.errors.name}}
          <label for="name" class="control-label">Campaign Name</label>
          {{input placeholder=" " value=model.name class="form-control qa-campaign-name" name="name"}}
        {{/bd-inline-error}}

        <label class="control-label m-t">Vehicles</label>

        <div class="vehicles qa-vehicle-table">
          {{#each model.vehicles as |vehicle|}}
            {{bd-vehicle-row vehicle=vehicle onSave="handleVehicleSaveSuccess"}}
          {{/each}}
        </div>
      </div>
      <fieldset class="form-group u-text-right">
        <button class="btn btn-secondary qa-cancel" {{action 'cancel'}}>Cancel</button>
        <button class="btn btn-primary qa-save" {{action 'save' model}}>Save</button>
      </fieldset>
    </form>
  </div>
</div>
