<h1 class="display-2 m-t-md">Campaigns</h1>
{{#link-to 'campaigns.new' class="qa-create-campaign"}}Create a Campaign{{/link-to}}
{{#each model as |c|}}
<div class="card qa-campaign-{{c.id}}">
  <div class="card-block">
    <div class="row">
      <div class="col-md-9">
        <h4 class="">{{c.name}}</h4>
        <p class="small u-text-muted m-b-0">{{c.vehicles.length}} Vehicles</p>
      </div>
      <div class="col-md-3">
        {{#link-to 'campaign.report' c class="u-pull-right btn btn-secondary"}}Report{{/link-to}}
        <span class="qa-edit-campaign-{{c.id}}">
          {{#link-to 'campaigns.edit' c class="u-pull-right btn btn-primary"}}Edit{{/link-to}}
        </span>
      </div>
    </div>
  </div>
</div>
{{/each}}
