<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-2 m-t-md">
        Edit {{model.name}}
        <span class="btn btn-danger-outline btn-sm qa-delete u-pull-right" {{action 'delete' model}}>Delete</span>
      </h1>
      {{partial 'campaigns/form'}}
    </div>
  </div>
</div>
