{{#bd-nav}}
  <ul class="nav navbar-nav u-pull-right">
    {{#if currentSession.isSignedIn}}
      <li class="nav-item qa-current-user">
        {{currentSession.user.email}}
      </li>
      <li  class="nav-item">
        <button {{action 'signOut'}} class="btn btn-primary qa-sign-out">Sign Out</button>
      </li>
    {{else}}
      <li class="nav-item">
        {{#link-to 'session.new' class="btn btn-primary qa-sign-in"}}Sign In{{/link-to}}
      </li>
    {{/if}}
  </ul>
{{/bd-nav}}

{{outlet}}
