<nav class="navbar navbar-dark bg-inverse">
  <a class="navbar-brand" href="/"><h3 id="title">Bus Detective <em>Pro</em></h3></a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      {{#link-to 'campaign.report' 1 class="nav-link"}}Report{{/link-to}}
    </li>
  </ul>
</nav>

<div class="container">
  {{outlet}}
</div>
